

    <section id="contact" data-aos="flip-up">
        <h2>Contact <span class="color_h">Me</span></h2>
        <form id="contact-form" action="https://formspree.io/f/xldjwqny" method="POST"> 
            <input type="text" placeholder="First Name" name="first_name" required data-aos="fade-down-right">
            <input type="text" placeholder="Last Name" name="last_name" required data-aos="fade-down-left">
            <input type="tel" placeholder="Phone Number" name="phone" required data-aos="fade-down-right">
            <input type="text" name="subject" placeholder="Subject" required data-aos="fade-down-left">
            <input type="email" id="email" placeholder="Email" name="email" required data-aos="zoom-in">
            <textarea placeholder="Your Message" rows="5" cols="30" name="message" required data-aos="fade-up"
            data-aos-duration="3000"></textarea>
            <button type="submit" class="btn">Send</button>
        </form>
    <!-- popUp -->
        <div id="popup" class="popup">
            <div class="popup-content">
                <p>Your message has been sent successfully! ✅</p>
                <button id="close-popup">OK</button>
            </div>
        </div>
    </section>
    

<button id="btn" title="Back to top" > <strong><i class="fa-solid fa-hand-point-up"></i></strong></button>
