.card {
  border-radius: 10px;
  
}

.card-body h5 {
  font-weight: 600;
  color: #333;
  
}

.btn-danger {
  transition: background-color 0.3s ease;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-warning {
  font-weight: 600;
}

img {
  user-select: none;
}
