
    <section id="skills" data-aos="fade-right		">
        <div class="skill2">
            <h2>My <span class="color_h">Skills</span></h2>
            <ul data-aos="fade-left">
                <li><i class="fa-regular fa-font-awesome"></i>  <b> Front-End :</b> HTML, CSS, JavaScript</li>
                <li><i class="fa-regular fa-font-awesome"></i> <b>  Back-End :</b> PHP, MySQL</li>
                <li><i class="fa-regular fa-font-awesome"></i> <b>  Version Control :</b> Git & GitHub </li>
                <li><i class="fa-regular fa-font-awesome"></i> <b>  Problem-Solving :</b> LeetCode (JavaScript)</li>
            </ul>
        </div>
    </section>
