#skills{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg-section-color);
    box-shadow: 0 0 2rem var(--main-color);
    margin: 4rem auto;
    padding: 3rem 5%;
    max-width: 100%;
}

.skill2 {
    width: 100%;
    max-width: 800px;
}

.skill2 h2 {
    margin-bottom: 2rem;
    text-align: center;
}

.skill2 ul {
    list-style-type: none;
    padding-left: 0;
}

.skill2 li {
    margin-bottom: 1rem;
}
