<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top shadow">
    <div class="container">
      <a href="#home" class="logo" data-aos="fade-up">
        Noura <span>El-Brashy</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav" data-aos="zoom-in">
      <ul class="navbar-nav">
  <li class="nav-item"><a class="nav-link" (click)="scrollTo('home')"><i class="fa-solid fa-house"></i> Home</a></li>
  <li class="nav-item"><a class="nav-link" (click)="scrollTo('skills')"><i class="fa-brands fa-font-awesome"></i> Skills</a></li>
  <li class="nav-item"><a class="nav-link" (click)="scrollTo('services1')"><i class="fa-brands fa-usb"></i> Services</a></li>
  <li class="nav-item"><a class="nav-link"(click)="scrollTo('four')"><i class="fa-solid fa-diagram-project"></i> Portfolio</a></li>
  <li class="nav-item"><a class="nav-link" (click)="scrollTo('contact')"><i class="fa-solid fa-comment"></i> Contact</a></li>
</ul>

      </div>
    </div>
  </nav>
</header>
