<section id="services1">
        <h2>My <span class="color_h">Services</span></h2> 
        <div id="services">
            <div data-aos="fade-down-right">
                <i class="fa-solid fa-code"></i>
                <h3 class="color_h">Web Development</h3>
                <p>Developing responsive and user-friendly websites using HTML, CSS, and JavaScript</p>
                <p>Enhancing user experience (UX) and ensuring seamless cross-device compatibility</p>
            </div>
            <div data-aos="zoom-in">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <h3 class="color_h">Back-End Development</h3>
                <p>Developing dynamic web applications using PHP & MySQL</p>
                <p>Designing and managing databases with a focus on efficiency and performance</p>
                <p>Structuring and integrating databases with front-end components</p>
            </div>
            <div data-aos="fade-up-left"
            >
                <i class="fa-solid fa-gauge-high"></i>
                <h3 class="color_h">Performance & Code Quality</h3>
                <p>Writing clean, maintainable, and efficient code</p>
                <p>Exploring Unit Testing to enhance code reliability</p>
            </div>
        </div>
    </section>