<section id="home">
        <div class="noura-flex">
        <div class="section1" data-aos="fade-up">
            <h1>Hello,<br> <span class="color_h">I'm Noura El-Brashy</span><br> A Full-Stack PHP Developer </h1>
            
            <p> I am passionate about building efficient and scalable web applications, with a strong focus on writing clean, maintainable code. currently studying at ITI and continuously enhancing my skills in both Front-End and Back-End development.</p>
            <div class="i">
                <a href="https://www.linkedin.com/in/noura-el-brashy-34472a338" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
                <a href="mailto:noura.elbrashy@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                
            </div></div>
            
            <img class="noura" src="../../assets/photo/Untitled design_20250331_165834_0000.png" alt="Eng.Noura El-Brashy" title="ENG.Noura El-Brashy" data-aos="flip-left">
        </div>
        
    </section>
